{% extends "base.html" %}

{% block content %}
<div class="search-section">
    <div class="search-tabs">
        <button class="search-tab active" data-mode="actor">Actor</button>
        <button class="search-tab" data-mode="title">Movie / Show</button>
    </div>
    <div class="search-wrapper">
        <input
            type="text"
            id="actor-search"
            placeholder="Search for an actor..."
            autocomplete="off"
        >
        <div id="suggestions" class="suggestions"></div>
    </div>
</div>

<div id="results"></div>

<script src="/static/search.js" defer></script>
{% endblock %}
